<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="../static/css/base_style.css?v=2" rel="stylesheet">
    {%block head%} {%endblock%}
</head>
<body>
<div id="menu">
    <ul>
        <li style="float: right;"><a class="active" href="/main">О проекте</a></li>
        <li><a href="/form">Отправить на проверку</a></li>
        <li><a href="/history">История запросов</a></li>
    </ul>
</div>
{%block content%} {%endblock%}
</body>
</html>